.background
{   

  margin:0px;
   padding: 10px 350px 20px 350px;
   background-color: #1e1e1e;

 }

/*.logo

{
   width: % ; 
  padding: 10px;
  display: block; 
  margin: 0 auto;  
  background-color: #1e1e1e;
}*/

.menu
{
  width: 80% ; 
  padding: 10px 10px 15px 10px;
  margin: auto;
  color: white;
  background-color:#1e1e1e;
  font-size: 12px; 
  font-family:"Arial", sans-serif; 
   text-align: center;
}

.start
{
  position:relative;
  width: 95% ; 
  text-align: center;
  padding: 30px 15px 40px 15px;
  margin: 0 auto;  
  background-color: #d2973b;
}

.start_text
{
 /*position: relative;  */
  text-align: center; 

}

.data

{
  position:relative;
  width: 93% ; 
  padding: 30px 21px 200px 21px;
  margin: auto;   
  background-color: #ffffff;   
}


.title
{
  width: 90% ; 
  padding: 10px 10px 15px 10px;
  margin: auto;
  text-align: center;
}

.button
{
  background-color: #d2973b;
  color: white;  
  padding: 10px 35px  10px 35px;
  width: 20% ;   
  margin: auto;
  left:220px;
  text-align: center;
}
.end
{
  position:relative;
  width: 95% ; 
  padding: 30px 15px 80px 15px;
  margin: auto;
  background-color: #d2973b;

}

.follow_text
{
  
  /*position: relative;*/
  text-align: center;
  font-size: 20px; 
 font-family:"Georgia", serif;
}

.follow
{
  position:relative; 
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;     
  top:10px;
  text-align: center;

}

.table11
  {
   padding: 7px;
   padding-right: 130px;
   text-align: left;

  }


#tab_line
{
  
  position: absolute;
  top: 375px;
  left: 15px;  
  border-size: 7;
  width: 90%;
  border-color: #F5F5F5;
}
 
#sum_line
{
  border-color: #d2973b;
  position: absolute;
  top: 455px;
  left: 15px;  
  width: 90%;  
}
 /* .title_t
{
   background-color: #DCDCDC  ; 
   color: #d2973b;
   position: absolute;
  
}
.text
{
  background-color: #F5F5F5;
  position: absolute;
  
}*/

.table_address
{
  position: relative;
  width: 45% ; 
  top: 45px;
   
}
 .table_order
 {
  position: relative;
  width: 45% ; 
  top: -93px;
  left:300px;
 }

.table_shipped
{
position: relative;
  width: 45% ; 
  top: -82px;
  left:300px;
  text-align: left;
}

.table1
{
  position: absolute;
  width: 110% ; 
  top: 350px;
  left: 20px;  
}

.sum
{
  float: right;
}
.contact
{
  color: rgb(80, 80, 90);
  position:relative;
  top:0px;
  width: 90% ; 
  padding: 10px 10px 15px 10px;
  margin: auto;
  text-align: center;
}

a
{
  text-decoration:none;
  color: #ffffff;
}

@media screen and (max-width: 1366px) { /* разрешение экрана */
 .background
 {
  min-width: 640px;
 }
}

@media screen and (max-width: 768px) { /* разрешение планшета */
.background
{
  min-width: 320px;
  min-height: 1300px;
  max-height: 1500px;
  padding: 10px 100px 20px 100px;
}
.contact
{
  font-size: 10px;
  width: 100% ;
}
}
  

  @media screen and (max-width: 480px) { /* разрешение смартфона */
 .background
 {
   width: 320px;
   min-width: 320px;
   min-height: 1300px;
  max-height: 1500px;
  padding: 10px 80px 20px 80px;

 }

 .contact
{
  font-size: 10px;
}
  
  }
