.logo

{
   width: 35% ; 
  padding: 10px;
  margin: auto;
  background-color: rgb(30, 30, 30);
}

.menu
{
  width: 60% ; 
  padding: 10px 10px 15px 10px;
  margin: auto;
  color: white;
  background-color: rgb(30, 30, 30);
  font-size: 13px;  
}

.background
{
   padding: 10px 350px 20px 350px;
   background-color: rgb(30, 30, 30);
 }

.start
{
  position:relative;
  width: 95% ; 
  padding: 40px 15px 40px 15px;
  margin: auto;  
  background-color: hsl(39, 70%, 50%);
}
.data

{
  position:relative;
  width: 93% ; 
  padding: 30px 21px 500px 21px;
  margin: auto;   
  background-color: white;   
}

.title
{
  width: 90% ; 
  padding: 10px 10px 15px 10px;
  margin: auto;
  text-align: center;
}

.button
{
  background-color: hsl(39, 70%, 50%);
  color: white;
  position: absolute;
  padding: 10px 40px  10px 40px;
  width: 18% ;   
  margin: auto;
  left:220px;
}
.end
{
  position:relative;
  width: 95% ; 
  padding: 30px 15px 80px 15px;
  margin: auto;
  background-color: hsl(39, 70%, 50%);

}

.follow
{
  position:absolute;
  width: 50% ; 
  padding: 0px 225px 5px 225px;
  margin: auto; 

}

td, 
th
  {
   padding: 7px;
   padding-right: 130px;
  }
#tab_line
{
  
  position: absolute;
  top: 375px;
  left: 15px;  
  border-size: 7;
  width: 90%;
  border-color: #F5F5F5;
}
 
#sum_line
{
  border-color: hsl(39, 70%, 50%);
  position: absolute;
  top: 455px;
  left: 15px;  
  width: 90%;  
}

  .title_t
{
   background-color: #DCDCDC  ; 
   color: hsl(39, 70%, 50%);
   position: absolute;
  
}
.text
{
  background-color: #F5F5F5;
  position: absolute;
  
}

.table1
{
  position: absolute;
  width: 110% ; 
  top: 350px;
  left: 20px;  
}

.contact
{
  color: rgb(80, 80, 90);
  position:relative;
  top:0px;
  width: 90% ; 
  padding: 10px 10px 15px 10px;
  margin: auto;
  text-align: center;
}

a
{
  text-decoration:none;
  color: white;
}