.logo

{
  padding: 20px 150px 5px 150px;
  background-color: rgb(30, 30, 30);
}

.menu
{
 padding: 0px 15px  0px 15px;
  background-color: rgb(30, 30, 30);
  font-size: 13px;  
}

div
{
   padding: 10px 350px 20px 350px;
   background-color: rgb(30, 30, 30);
}
h1
{
  padding: 0px 40px  0px 40px;
}

h2
{
  padding: 0px 50px 0px 50px;
  color: white;
}

h3
{
   padding: 0px 20px  0px 20px;
  background-color: hsl(39, 70%, 50%);
}

#title_id
{

  padding: 0px 162px  0px 162px;
  color: white;
  font-size: 50px;
  font-family: "Georgia", ;
}

#title2_id
{
  padding: 0px 185px  0px 185px;
  font-family: "Arial", "Helvetica", sans-serif;
}
h4
{
  padding: 0px 70px  0px 70px;
  background-color: white;
  position: relative;
  top:-22px;
}

#title3_id
{
  font-family: "Times New Roman";
  font-size: 20px;
}

h5
{
   background-color: hsl(39, 70%, 50%);
   color: white;
   position: absolute;
   padding: 10px 40px  10px 40px;
   top: 380px;
   left: 569px;

 }

td, 
th
  {
   padding: 7px;
   padding-right: 130px;
  }
#tab_line
{
  
  position: relative;
  top: -340px;
  left: -8px;  
  border-size: 5;
  width: 90%;
  border-color: #F5F5F5;
}
 
#sum_line
{
  border-color: hsl(39, 70%, 50%);
  position: relative;
  top: -275px;
  left: -8px;  
  width: 90%;  
}



  .title_t
{
   background-color: #DCDCDC  ; 
   color: hsl(39, 70%, 50%);
   position: absolute;
  
}
.text
{
  background-color: #F5F5F5;
  position: absolute;
  
}

.table1
{
  position: absolute;
  top: 650px;
  left: 380px;
  
}

h6
{
    padding: 0px 20px  0px 20px;
   background-color: hsl(39, 70%, 50%);  
   position: relative;   
   top: -180px;
   left:0px;

}

#end_id
{
  padding: 0px 10px  0px 10px;
  color: black;
  font-size: 25px;
  font-family: "Vijaya";
}

a
{
  text-decoration:none;
  color: white;
}